<div class="sidebar">
    <ul>
        <li routerLink="users" routerLinkActive="active"><i class="fa fa-user"></i>User</li>
        <li routerLink="cms-page" routerLinkActive="active"><i class="fa fa-file"></i>CMS Page</li>
        <li routerLink="mission" routerLinkActive="active"><i class="fa fa-solid fa-bullseye"></i>Mission</li>
        <li routerLink="mission-theme" routerLinkActive="active"><i class="fa fa-solid fa-folder"></i>Mission Theme</li>
        <li routerLink="mission-skill" routerLinkActive="active"><i class="fa fa-solid fa-folder"></i>Mission Skills</li>
        <li routerLinkActive="active"><i class="fa fa-solid fa-folder"></i>Mission Application</li>
        <li routerLinkActive="active"><i class="fa fa-solid fa-folder"></i>Story</li>
        <li routerLinkActive="active"><i class="fa fa-solid fa-folder"></i>Banner Management</li>
    </ul>
</div>