<div class="login-container">
    <div class="head">
        <h3>New Password</h3>
        <span>Please enter a new password in the fields below. </span>
    </div>
    <div class="form">
        <form>
            <div class="field-container">
                <label>Email Address</label><br>
                <input type="text" placeholder="Enter your email here"/>
            </div>

            <div class="field-container">
                <button class="submit">Reset my Password</button>
            </div>
        </form>
        <div class="auth-actions">
            <span><a style="cursor: pointer;" (click)="redirectToLogin()">login</a></span>
        </div>
    </div>
</div>