.form-container {
    margin: 20px;
}

.form-field {
    margin-top: 10px;
}

.form-field-action {
    margin-top: 20px;
    text-align: right;
}

button {
    width: 100px;
}

input {
    width: 100%;
    outline: none;
    border: 1px solid rgba(50, 50, 50,0.2);
    height: 40px;
}

select {
    width: 100%;
    outline: none;
    border: 1px solid rgba(50, 50, 50,0.2);
    height: 40px;
}