<div class="user-container">
    <h2>Mission Theme</h2>
    <hr>
    <div class="row">
       <div class="col-md-3">
           <input type="text" placeholder="Search" (keyup)="filterData($event)"/>
       </div>
       <div class="col-md-7"></div>
       <div class="col-md-1">
           <button (click)="addTheme()" class="circular-add-button" style="width: 100px;">
               <mat-icon>add</mat-icon>
               Add
           </button>
       </div>
       <div class="col-md-1"></div>
    </div>
    <div class="user-list">
       <table mat-table [dataSource]="dataSource">
           <ng-container matColumnDef="Theme-Name">
               <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> Theme Name </th>
               <td mat-cell *matCellDef="let element"> {{element.name}} </td>
             </ng-container>
           
             <ng-container matColumnDef="Status">
               <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> Status </th>
               <td mat-cell *matCellDef="let element"><span class="badge bg-success">{{element.status == '1' ? 'Active' : 'Deactive'}}</span> </td>
             </ng-container>
           
             <ng-container matColumnDef="Action">
               <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> Action </th>
               <td mat-cell *matCellDef="let element"> 
                   <mat-icon (click)="edit(element.id)" style="cursor: pointer;">edit</mat-icon>
                   <mat-icon style="cursor: pointer;" (click)="delete(element.id)">delete</mat-icon>
               </td>
             </ng-container>
           
             <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </table>
       <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>
    </mat-paginator>
    </div>
</div>