/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden!important
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    opacity: 0.4;
}

.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

.circular-add-button {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    height: 40px;
    color: #f88634;
    border: 1px solid #f88634;
}

.circular-cancel-button {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    height: 40px;
    color: #353434;
    border: 1px solid #353434;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
